* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header {
    display: flex;
    align-content: center;
    justify-items: center;
    margin: auto;
    font-size: 1.5rem;
}

.sidewrap {
    display: flex;
    position: relative;
}
.sidewrap .sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: grey;
    padding: 100px 0;
}

.sidewrap ul li {
    margin: 0 15px;
    padding: 15px;
    width: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    border-top: 1px solid rgba(225, 225, 225, .05);
    display: flex;
}

.sidewrap ul li:hover{
  background-color: lightgray;
}


a[href$=".html"] {
    margin-left: 20px;
}


.icon-img {
    height: 25px;
    width: 25px;
}

/* nav ul li img {
    height: 25px;
    width: 25px;
    display: flex;
} */

.profile img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
 main {
    display: flex;
    flex-direction: column;
 }

 .about-me {
    display: flex;
    flex-direction: column;

 }
