* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header {
    display: flex;
    align-content: center;
    justify-items: center;
    margin: auto;
    font-size: 1.5rem;
}

.sidewrap {
    display: flex;
    position: relative;
}
.sidewrap .sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: grey;
    padding: 100px 0;
}

.sidewrap ul li {
    margin: 0 10px;
    padding: 20px;
    width: 75%;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    border-top: 1px solid rgba(225, 225, 225, .05);
    display: flex;
}

li.nav-op:hover{
    background-image: linear-gradient(to right, rgba(211, 211, 211, 0), rgba(211,211,211, .5), rgba(211, 211, 211, 0));
}


a[href$=".html"] {
    margin-left: 20px;
}


.icon-img {
    height: 30px;
    width: 30px;
}

.profile img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
 main {
    width: 100%;
    margin-left: 300px;
 }

 .about-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 75px 50px;
    width: 100%;
 }

 .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    padding: 10px 60px;
 }

 .description h2 {
    font-size: 45px;
 }

.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 130px;
    width: 230px;
    padding: 20px;
    margin: 0 50px;
    background-color: grey;
    border-radius: 15px;
}
.socials h3 {
    margin-top: 10px;
}
.social-row {
    margin: 25px 0 25px 0;
}
.socials .social-img {
    width: 50px;
    height: 50px;
    margin: 0px 20px;
    padding: 2px;
}
.socials .social-img:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}